<div class="spec">
<h1 class="analysis-title">規格</h1>

<h2 class="analysis-sub-title">網站類型：</h2>
<h2 class="analysis-sub-title">色票</h2>

<h2 class="analysis-sub-title">風格</h2>
<span class="analysis-style-tag">哈哈</span>
<span class="analysis-style-tag">哈哈</span>
<span class="analysis-style-tag">哈哈</span>
<span class="analysis-style-tag">哈哈</span>

</div>