.container-fluid{
	background-color: #f3f3f3;
	height: 100vh;
}
.dialog-container{
	height: 700px;
	margin-top: 50px;
	background-color: #fff;
	border-radius: 20px;
	h1{
		font-size: 3em;
		font-weight: bold;
	}
}

.image-select-container{
	max-height: 250px;
	overflow:hidden;
	image{
			width:100%;
	}
}