html, body {
	min-height: 100%;
	height: 100%;
	font-family: 'pingfang tc'
}

.container-fluid{
	background-color: #f3f3f3;
}

.dialog-container{
	height: 700px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #FCFCFC;
	border-radius: 20px;
	.index-title{
		font-size: 3em;
		font-weight: lighter;
		text-align: center;
		margin-top: 32px;
		margin-bottom: 40px;
	}
	.index-desc {
		font-weight: lighter;
	}
}

.image-select-container{
	max-height: 250px;
	overflow:hidden;
	image{
			width:100%;
	}
}

.nav-tabs > li > a{
	height: 3em;
	font-size: 1.2em;
	border-radius: 0;
  color: #222;
  font-weight: lighter;
  transition: .2s all ease-in-out;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-top: 4px solid green;
}
div.spec{
	margin-left: 40px;
}
h1.analysis-title{
		font-size: 3em;
		font-weight: lighter;
		text-align: left;
		margin-top: 32px;
		margin-bottom: 20px;
}

h2.analysis-sub-title{
		font-size: 2em;
		font-weight: lighter;
		text-align: left;
		margin-top: 10px;
		margin-bottom: 20px;
}

span.analysis-style-tag{
		font-size: 1.7em;
		background-color: #eee;
		padding: .2em .5em .2em .5em;
		border-radius: 10px;
		font-weight: lighter;
		text-align: left;
}







